* {
  box-sizing: border-box;
}

body, html {
  font-family: sans-serif, Arial, Helvetica;
  margin: 0;
  height: 100%;
  padding: 20px;
}

.main-wrap {
  display: flex;
  margin-bottom: 20px;
}

header {
  margin-bottom: 20px;
}

nav button {
  border: 1px solid #ccc;
  outline: none;
  border-radius: 4px;
  background-color: #fff;
  padding: 14px 24px;
  font-size: 14px;
  margin-right: 20px;
  cursor: pointer;
}

nav button:hover {
  background-color: #ccc;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 500px;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 18px;
  margin-bottom: 20px;
}

input {
  border-radius: 4px;
  height: 40px;
  border: 1px solid #ccc;
  margin-right: 20px;
}

.search {
  margin-bottom: 10px;
}

.button {
  height: 40px;
  border: 1px solid #ccc;
  outline: none;
  border-radius: 4px;
  background-color: #fff;
  color: #363636;
  cursor: pointer;
}
.button:hover {
  background-color: #ccc;
}
.button:disabled {
  opacity: .5;
  pointer-events: none;
}
