<header>
  <nav>
    <LinkTo @route="main">
      <button type="button">Main</button>
    </LinkTo>
    <LinkTo @route="about">
      <button type="button">About</button>
    </LinkTo>
  </nav>
</header>

<h1>Todo List</h1>

{{outlet}}